body {
    text-align: center;
}
.para {
    color:blue;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
#Alumni img{
    width:300px;
    height: 200px;
}
.name {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 20px;
    color: mediumvioletred;
    text-decoration: underline;
    text-decoration-color:darkviolet;
}
#About p {
    color: darkmagenta;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

#main {
    background-color: aquamarine;
}

#Whats-New {
    background-color: aquamarine;
}
#footer {
    height: 20px;
    background-color: blue;
    width: 100%;
    margin:770px auto;
}

#mycarousel img {
    width: 800px;
    height: 350px;
    margin-top: 35px;
}

#sec-2 {
    margin-bottom: 40px;
     !important
}
.new-sec p {
    margin-top: 10px;
}
.new-sec img {
    border-radius: 25px;
    width: 500px;
}
.new-sec {
  margin-top: 13px;
}
.new-sec h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: deeppink;
    font-size: 20px;
    font-family: 'Texturina', serif;
    font-weight: 500;
}

.achievement_head i {
    float: right;
    margin-right: 10px;
}

.achievement_head {
    margin: 8px auto;
    border-radius: 2px;
    width: 500px;
    color: yellow;
}

#campus-life img {
    width: 800px;
    height: 350px;
}

#school {
    border-style: solid;
    border-color: blueviolet;
    border-width: 5px;
    border-radius: 20px;
    background-color: blue;
}

marquee {
    background-color: cadetblue;
    font-family: 'Lobster Two', cursive;
    color: azure;
    font-size: 25px;
}

html {
    scroll-behavior: smooth;
}

.link {
    float: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    display: inline;
    font-family: 'Dancing Script', cursive;
    color: lavenderblush;
}

.link:hover {
    background-color: palevioletred;
    color: crimson;
    cursor: pointer;
    transform: scale(1.2)
}

.head {
    font-family: 'Bitter', serif;
    text-decoration-color: mediumturquoise;
    text-decoration: overline;
    color: magenta;
}

.achievements-img {
    height: 200px;
}
